*~
\#*
.\#*
.DS_Store
compiled/
/doc/
*.html
*.css
*.js
*.pdf
*.aux
*.log
*.out
*.synctex.gz
*.tex
*.toc
*.sxref
synced.rktd
blueboxes.rktd
*IGNORE*
migration-assistant.icns
migration-assistant.ico
migration-assistant.png
